<h3>welcome, baby {{username}}!</h3>
<p>you currently have story book balance of <br><code>{{balance}}</code><br> in your account.</p>
<h3>transfer to another baby here.</h3>
<form action="/transfer" method="POST">
	<div>
		<label>send funds to baby: <input type="text" name="to" value=""></label>
	</div>
	<br>
	<div>
		<label>starting from: <input type="text" name="start" value=""></label>
	</div>
	<br>
	<div>
		<label>amount: <input type="text" name="amount" value=""></label>
	</div>
	<br>
	<div>
		<input type="submit" value="transfer">
	</div>
</form>
<h3>if you feel like you have too much in your account, feel free to withdraw.</h3>
<form action="/withdraw" method="POST">
	<div>
		<label>amount: <input type="text" name="amount" value=""></label>
	</div>
	<br>
	<div>
		<input type="submit" value="withdraw">
	</div>
</form>
<br>
<button id="myButton">logout</button>

<script type="text/javascript">
	document.getElementById("myButton").onclick = function () {
		location.href = "/logout";
	};
</script>
