<form action="/login" method="POST">
	<h3>welcome to baby bank! if you are here to check your account please login here.</h3>
	<div>
		<label>username: <input name="username" type="text" value="" autofocus></label>
	</div>
	<br>
	<div>
		<label>password: <input name="password" type="password" value=""></label>
	</div>
	<br>
	<div>
		<input type="submit" value="login">
	</div>
</form>

<h3>if you are new, please read the **<i>highly recommended</i>** faq below and sign up here.</h3>

<button id="myButton">signup</button>

<script type="text/javascript">
	document.getElementById("myButton").onclick = function () {
		location.href = "/signup";
	};
</script>

<div>
	<h3> faq </h3>
	<pre>
<b>what is baby bank?</b>
every baby that loves bedtime stories is a prized member of our bank. 
we allow babies a balance of one story every three months in exchange for some wholesome baby giggles.</pre>
	<pre>
<b>what is my bank balance and what can i do with it?</b>
when babies sign in on the first of day of the three months, the characters of story will be displayed as their balance.
you can do 2 things with your balance: 
1.	transfer characters of your balance to another user by specifying a starting place in the story and the amount of characters to give. 
	tranferring parts of stories does not take anything away from your balance. we advocate for free sharing of good stories, after all it gives us more baby giggles. 
	baby giggles are very powerful if you didn't know, you can probably take over the world with those things. 
	but i've said too much already.
2.	withdraw characters from your balance. 
	characters are always withdrawn from the end of your story.
	be careful with what you withdraw, you might end up losing your whole story!
and that's it! it's off to the races for you, baby!</pre>
	<pre>
<b>where do these stories come from?</b>
the bigbossbaby, the big boss of our bank, chooses the story every three months and then transfers the story in everyone's account! 
we can't disclose how the story gets into her account in the first place but isn't she just the most generous baby? yes, yes she isss.</pre>
	<pre>
<b>why is your website so ugly?</b>
silly baby, this is a website made for babies BY babies. babies hate css because it hurts their brains.</pre>
	<pre>
<b>why is everything in lower case letters?</b>
well baby, not every baby can read upper case letters yet, so we made everything lower case to include the uppercase illiterate babies.
they'll get there but not just yet.</pre>
	<pre>
<b>can you give some examples of credible users of your bank?</b>
why yes, here are some pictures of some of our favorite babies. 
(from left to right: Grogu, DaBaby, Baby Groot, Jack-Jack Parr)</pre>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/00/The_Child_aka_Baby_Yoda_%28Star_Wars%29.jpg/220px-The_Child_aka_Baby_Yoda_%28Star_Wars%29.jpg" height= "130" width="115" style="float:left;"/>
<img src="https://media.pitchfork.com/photos/5c7d4c1b4101df3df85c41e5/1:1/w_600/Dababy_BabyOnBaby.jpg" height= "130" width="125" style="float:left;"/>
<img src="https://cdn.vox-cdn.com/thumbor/8GIOqqwA5szODkUjfhnRgWaPMNI=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8362223/bb_groot.jpg" height= "130" width="125" style="float:left;"/>
<img src="https://static.wikia.nocookie.net/disney/images/2/28/Profile_-_Jack_Jack_Parr.jpeg/revision/latest/top-crop/width/360/height/450?cb=20190315053420" height= "130" width="100" style="float:left;"/>
</div>
